.blogs-table {
  width: 100%;
  height: 100%;
  padding: 4rem 0;
}
.blogs-search-box {
  margin-bottom: 1rem;
  gap: 2rem;
}

.blogs-table input {
  width: 450px;
  padding: 10px;
  border: 1px solid #999;
  font-size: 22px;
  outline-color: #571f9e;
  box-shadow: 0 0 5px #999;
  border-radius: 10px;
}

.blogs-table input:focus {
  /* outline: none; */
  box-shadow: 0 0 10px #9674c3;
}

.blogs-table table {
  width: 100%;
  color: #1b3155;
  text-align: left;
  font-size: 1.3rem;
  margin-top: 30px;
}

.blogs-table table thead th {
  color: #1b3155;
  background-color: #cfe2ff;
  padding: 0.75rem;
  font-size: 1.5rem;
}
.table-title {
  width: 400px;
}

.blogs-table table tbody td {
  color: #1b3155;
  padding: 10px 10px;
}

.blogs-table table tbody {
  border: 1px solid #000;
  background-color: #f0f0f0;
}

.blogs-table table button {
  font-size: 15px;
  display: inline-flex;
  gap: 10px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: 700;
  border: 1px solid #555;
  color: #444;
  transition: 0.3s ease;
  cursor: pointer;
}

.blogs-delete:hover {
  background-color: rgb(255, 85, 85);
  border-color: rgb(255, 85, 85);
  color: #fff;
}

.blogs-edit:hover {
  background-color: green;
  border-color: green;
  color: #fff;
}

/* .blogs-table table button:hover:nth-child(3) {
  background-color: rgb(14, 130, 198);
  border-color: rgb(63, 206, 63);
  color: #fff;
} */

.blogs-edit-delete {
  justify-content: center;
  gap: 1rem;
}

.text-center {
  text-align: center;
}

.blogpagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  color: #000;
}

.blogpagination button {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 15px 20px;
  font-weight: 600;
  margin-right: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.blogpagination button:hover {
  background-color: #667eea;
  color: #fff;
}

.blogpagination button.active {
  background-color: #667eea;
  color: #fff;
}

.blogpagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
